<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Node-Sever-Page</title>
	</head>
	<body>
		{{> header}}
		<p>{{welcomeMsg}}</p>
		<p>Some text here</p>
		{{> footer}}
	</body>
</html>